
.navbar .nav-link:hover {
  color: #0d6efd;
  
}
.dropdown-menu .dropdown-item:hover {
   color: #0d6efd;
}
.Back_image{
    background:url(https://img.freepik.com/free-photo/high-angle-view-laptop-stationeries-blue-background_23-2147880456.jpg) no-repeat;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
.text-overlay {
  position: absolute;
  top: 20%;
  bottom: 20%;
}
.btns:hover{
  color: #0d6efd;
}